:root {
  --shadow: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  --shadowHover: drop-shadow(3px 10px 4px rgb(0 0 0 / 0.2));
  --transition: all 0.1s ease-in-out;
}

/* Corona virus */

.recoveredCases{
    cursor: pointer;
    fill: #1CDB9E;
    transition: var(--transition);
    filter: var(--shadow);
}
 
.recoveredCases:hover{
    fill: #41f0b9;
    filter: var(--shadowHover);
}

.confirmedCases{
    cursor: pointer;
    fill: #FF6B38;
    transition: var(--transition);
    filter: var(--shadow);

}

.confirmedCases:hover{
    fill: #fd8a63;
    filter: var(--shadowHover);
}

.activeCases{
    cursor: pointer;
    fill: #43A4FF;
    transition: var(--transition);
    filter: var(--shadow);
}

.activeCases:hover{
    fill: #5eb1ff;
    filter: var(--shadowHover);
}

.deceasedCases{
    cursor: pointer;
    fill: #FFC148;
    transition: var(--transition);
    filter: var(--shadow);    
}

.deceasedCases:hover{
    fill: #ffd176;
    filter: var(--shadowHover);
}

.outerCircle{
    r: 175.6;
    animation-name: circle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes circle {
  0%   { r: 175.6 }
  25%  { r: 180}
  50%  { r: 184}
  75%  { r: 180 }
  100% { r: 175.6}
}